.container {
    text-align: center;
}

.photoInput label {
    cursor: pointer;
    padding: 0 10%;
}

.photoInput label img {
    border-radius: 15%;
}

.productPrice {
    margin: 40px;
}

.productPrice span {
    font-size: 1.8rem;
    border: 3px solid white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

.productPrice input {
    color: white;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    width: 10rem;
    text-align: center;
}

.dataInputs > * {
    margin-bottom: 15px;
}

.dataInputs input, .dataInputs select, .dataInputs textarea {
    width: 100%;
    text-align: center;
    background: transparent;
    border: 3px solid white;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

input::placeholder, textarea::placeholder {
    color: white;
}

option {
    color: black;
}

.dataInputs .container {
    padding: 0;
}

.produtoPersonalizado label {
    display: flex;
}

.produtoPersonalizado input {
    width: auto;
}

.dataInputs textarea {
    text-align: justify;
}

.dataInputs button {
    width: 100%;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 20px;
}